{% extends "layout.html" %}
{% block title %}Answer{% endblock %}
{% block content %}
<div class="container is-fluid">
    <div class="content">
    <h1>Review</h1>
        <div>
            {{question}}
        </div>
        <br>
        <div>
            {{answer}}
        </div>
        <br>
        <form action="/difficulty" method="post" id="diff">
            <div>
                <input type="radio" id="VeryHard" name="difficulty" value=5>
                <label for="VeryHard">Very Hard</label>
            </div>
            <div>
                <input type="radio" id="Hard" name="difficulty" value=4>
                <label for="Hard">Hard</label>
            </div>
            <div>
                <input type="radio" id="OK" name="difficulty" value=3 checked>
                <label for="OK">OK</label>
            </div>
            <div>
                <input type="radio" id="Easy" name="difficulty" value=2>
                <label for="Easy">Easy</label>
            </div>
            <div>
                <input type="radio" id="VeryEasy" name="difficulty" value=1>
                <label for="VeryEasy">Very Easy</label>
            </div>
             <input type="hidden" name="topic" value={{topic}} />
             <input type="hidden" name="id" value={{id}} />
            <br>
            <div>
                <input class="button is-primary" type="submit" value="Rate Difficulty">
            </div>
         </form>
        <br>
         <form action="/edit" method="post" id="edit">
             <input type="hidden" name="topic" value={{topic}} />
             <input type="hidden" name="id" value={{id}} />
            <div>
                <input class="button is-primary" type="submit" value="Edit Card">
            </div>
         </form>
    </div>
</div>
{% endblock %}